<nav class="app-nav navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light display-front nav-pad">
  <div class="navbar-header c-pointer shift-left">
    <a routerLink="/home" class="unset-anchor">
      <img class="img-adjust-position rev-logo" src="" alt="revature" />
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExample04">

    <ul class="navbar-nav ml-auto margin-nav">

      <li class="nav-item active">
        <a routerLink="/clicker" class="unset-anchor nav-link">Clicker</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/surveys" class="unset-anchor nav-link">Surveys</a>
      </li>
      <li class="nav-item active">
        <a routerLink="/management/manage/cohorts" class="unset-anchor nav-link">Manage</a>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle pointer" id="examples-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Interviews
        </a>
        <div class="dropdown-menu" aria-labelledby="examples-dropdown">
          <a routerLink="/interview/new" class=" dropdown-item nav-dropdown"> New Interview</a>
          <a routerLink="/interview/list" class=" dropdown-item nav-dropdown"> Interview List </a>
        </div>
      </li>
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle pointer" id="examples-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Reports</a>
        <div class="dropdown-menu" aria-labelledby="examples-dropdown">
          <a routerLink="/interview/report/feedback" class=" dropdown-item nav-dropdown">
            Feedback Given Report...</a>
          <a routerLink="/interview/report/24hour" class=" dropdown-item nav-dropdown">
            Given 24 Hour Notice Report...</a>
          <a routerLink="/interview/report/jobDesc" class=" dropdown-item nav-dropdown">
            Job Description Given Report...</a>
          <a routerLink="/interview/report/AssociateInterviews" class=" dropdown-item nav-dropdown">
            Interviews Per Associate Report...</a>
        </div>
      </li>

      <li class="nav-item active">
        <a routerLink="/interview/list" class="unset-anchor nav-link">Interview List</a>
      </li>

      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle pointer" id="examples-dropdown" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Username
        </a>
        <div class="dropdown-menu" aria-labelledby="examples-dropdown">
          <a routerLink="/management/profile" class=" dropdown-item nav-dropdown">Profile</a>


          <div class="dropdown-item nav-dropdown">Logout</div>
        </div>
      </li>
      <li class="nav-item active">
        <a routerLink="/management/login" class="unset-anchor nav-link">
          Log In</a>
      </li>
    </ul>
  </div>
</nav>